.app {
  padding: calc(var(--padding) * 2) calc(var(--padding) * 4);
  display: flex;
  flex-direction: column;
  gap: calc(var(--padding) * 2);
  width: min(1280px, 100%);
  margin: auto;
  height: 100vh;
  background-color: rgba(26, 12, 26, 0.726);
  backdrop-filter: blur(6px);
  box-sizing: border-box;
}

.itemContainer {
  padding-top: 2px;
  display: flex;
  flex-direction: column;
  gap: calc(var(--padding) * 2);
  overflow: auto;
}

.header {
  margin: var(--padding) 0 0 0;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.35);
  padding: var(--padding) calc(var(--padding) * 2);
  text-align: center;
  font-size: 32px;
  font-family: "Source Sans Pro", sans-serif;
  color: var(--color-text-header);
  background: rgb(255, 167, 211);
  border-radius: var(--padding);
  background: linear-gradient(
    153deg,
    rgba(255, 167, 211, 1) 0%,
    rgba(186, 83, 219, 1) 35%,
    rgba(128, 207, 230, 1) 100%
  );
  box-shadow: -5px 0 20px #f0f, 5px 0 20px #0ff;
}

.viewCount {
  font-family: "Source Sans Pro", sans-serif;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.35);
  text-align: center;
  color: var(--color-text-header);
  padding: 0;
  margin: 0;
  font-size: 18px;
}

.addButton {
  text-shadow: 3px 1px 6px rgba(0, 0, 0, 0.61);
  font-size: large;
  color: white;
  border: none;
  padding: 5px;
  border-radius: var(--padding);
  font-family: "Source Sans Pro", sans-serif;
  background: linear-gradient(
    153deg,
    rgba(255, 167, 211, 1) 0%,
    rgba(186, 83, 219, 1) 35%,
    rgba(128, 207, 230, 1) 100%
  );
}

.addButton:active,
.storageInputLabel:active {
  position: relative;
  top: 3px;
}

.storageButton {
  text-shadow: 3px 1px 6px rgba(0, 0, 0, 0.61);
  font-size: large;
  font-weight: bold;
  color: white;
  border: none;
  padding: 5px;
  border-radius: var(--padding);
  background: rgb(239, 252, 121);
  font-family: "Source Sans Pro", sans-serif;
  background: linear-gradient(
    153deg,
    rgba(239, 252, 121, 1) 0%,
    rgba(74, 193, 38, 1) 35%,
    rgba(228, 139, 70, 1) 100%
  );
}

.storageInput {
  display: none;
}

.storageInputLabel {
  text-shadow: 3px 1px 6px rgba(0, 0, 0, 0.61);
  font-size: large;
  color: white;
  display: flex;
  align-items: stretch;
  gap: var(--padding);
  border-radius: var(--padding);
  padding: 8px var(--padding);
  background: linear-gradient(
    153deg,
    rgba(239, 252, 121, 1) 0%,
    rgba(74, 193, 38, 1) 35%,
    rgba(228, 139, 70, 1) 100%
  );
}

.storageButtonContainer {
  display: flex;
  gap: var(--padding);
  width: 100%;
  justify-content: space-between;
}

.iconTextContainer {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: var(--padding);
  padding: 3px var(--padding);
}

.modalBackground {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(6px);
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContentContainer {
  padding-bottom: 10vh;
}
